<h1 class="heading">Welcome to Todo homepage!</h1>

<p class="home-para">
  If you are a new user, <%= link_to "sign up here", new_user_path %>
</p>

<p class="home-para">
  If you are an existing user, <%= link_to "sign in here", new_session_path %>
</p>
