.home-para {
  margin: 20px 0;
}

.username-heading {
  padding: 10px;
  background-color: rgb(236, 236, 236);
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
